<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/autocomplete.css" rel="stylesheet">
</head>     
<body>
   <div>
      <div class = 'banner'><h1><a class = 'main-link' href="/">MOVIE EXPLORER</a></h1></div>
      <div class = 'center'>
         <div class = 'block'>
            <div class = 'output'><p>{{ result['Name'] }}</p></div>
            <br>
            <div><a class = 'href-style' href = "/input-film-assessment">Come back</a></div>
         </div>
      </div>
   </div>   
<script src="static/js/m10.js"></script>

</body>
</html>
