
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/css/autocomplete.css" rel="stylesheet">
</head>     
<body>
   <div>
      <div class = 'banner'><h1><a class = 'main-link' href="/">MOVIE EXPLORER</a></h1></div>
      <div class = 'center'>
         <div class = 'block'>
            <div>
               <div><h2>Get quality prediction</h2></div>
               <div><p>Enter a title and watch what our system say</p></div>
               <form action = "http://localhost:5000/film-assessment" method = "POST">
                  <div class = "autocomplete" style="width:300px;">
                     <input id="myInput" type = "text" name = "Name" placeholder="Film title"/>
                  </div>
                  <input class = 'button-style' onclick = 'javascript:create()' type="submit" value = "Click">
               </form>
            </div>
         </div>
      </div>
   </div>   
<script src="static/js/m10.js"></script>

</body>
</html>
