<html>
	<head>
		<script src="static/js/m2.js"></script>
	</head>
   <body>
		<datalist id="languages">
			<option value="HTML">
			<option value="CSS">
			<option value="JavaScript">
			<option value="Java">
			<option value="Ruby">
			<option value="PHP">
			<option value="Go">
			<option value="Erlang">
			<option value="Python">
			<option value="C">
			<option value="C#">
			<option value="C++">
		 </datalist>
	  <form action = "http://localhost:5000/film-assessment" method = "POST">
		 <h2 class="form-signin-heading">Введите название фильма, качество которого хотите узнать</h2>
         <p>Название фильма: <input type = "text" name = "Name" list = "languages"/></p>
		 <p><input onclick = 'javascript:create()' type = "submit" value = "Click" /></p>
      </form>
      
   </body>
</html>