/*
* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
background: #f0f0f0 



}

.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: #f1f1f1;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  color:#3a3c3e;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

h1 {
  font-size: 44px;
  color:#3a3c3e;
}

h2 {
  color:#f0f0f0 ;
}

.center {
  width: 500px; 
  height: 300px;
  padding: 0px; 
  margin: auto; 
  background: #3a3c3ed1; 
  border-radius: 24px;
 }

 .banner {
  padding: 3px; 
  margin: auto;
  
 }
 div {
   text-align: center;
 }

 .block {
  top: 20%;
  position: relative

}

p {
  color: #f0f0f0 ;
}
a {
  color:#f0f0f0 ;
}
* {
    font-family: Century Gothic;
}
*/
* {
  box-sizing: border-box;
  font-family: "Crimson Text"; 
}

body { 
background: #edecec  /* fallback for old browsers */



}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.not-autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #edecec;
  width: 100%;
  border-radius: 30px;
}

input[type=submit] {
  background-color: #edecec;
  color: #edecec;
  cursor: pointer;
  border-radius: 30px;
  color:#3a3c3e;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

h1 {
  font-size: 44px;
  color:#3e3434e0;
}

h2 {
  color:#edecec ;
  font-size: 30px;
}

.center {
  width: 500px; /* Ширина элемента в пикселах */
  height: 300px;
  padding: 0px; /* Поля вокруг текста */
  margin: auto; /* Выравниваем по центру */
  background: #3e3434c7; /* Цвет фона */
  border-radius: 24px;
 }

 .banner {
  padding: 3px; /* Поля вокруг текста */
  margin: auto; /* Выравниваем по центру */
  
 }
 div {
   text-align: center;
 }

 .block {
  top: 20%;
  position: relative

}

p {
  color: #edecec ;
  font-size: 19px;
}
a {
  color:#edecec ;
  
}
* {
    /*font-family: Century Gothic;*/
    font-family:Crimson Text, serif;
}
.output {
  padding: 5%;
  /* top: 10%; */
  position: relative;
}
.main-link {
  color: #3e3434e0;
  text-decoration: none;
}
.button-style {
  margin: 0 0px 0 9px;
}
@font-face {
  font-family: "Crimson Text"; 
  src: url("https://fonts.googleapis.com/css?family=Crimson+Text|Playfair+Display+SC") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 

.href-style {
  font-size: 19px;
}

.left {
  line-height: 0.5; text-align:center;
  font-size: 180%; font-color: black;
    float:left;
    /*width:650px;*/
 }
 .right {
  line-height: 0.5; text-align:center;
  font-size: 180%; font-color: black;
    float:right;
    /*width:650px;*/
 }
 .start {
  top: 10%;
  position: relative
 }